.about-us {
  width: 560px;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 7px;
    margin-bottom: 45px;
    background-color: black;
  }
}

.about-us__title {
  margin: 0;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: var(--set-gilroy-font-family);
  letter-spacing: 0.47px;
}

.about-us__text {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 85px;
  color: var(--bg-color-grey);

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us__button {
  width: 260px;
  letter-spacing: 3.6px;
}
