.checkbox__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.checkbox__label--filter {
  position: relative;
  padding-left: 37px;
}

.checkbox__label:hover::before,
.checkbox__label:focus::before {
  opacity: 0.6;
}

.checkbox__label:active::before {
  opacity: 1;
}

.checkbox__label--filter::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left center;
  border: 2px solid black;
  border-radius: 3px;
}

.checkbox__input--filter:checked + .checkbox__label--filter::before {
  background-image: url("../img/checkbox-on.svg");
}
