.home-services {
  background-color: #e5e5e5;
  box-shadow: inset 0 100px 0 0 white;
}

.home-services__wrapper {
  display: flex;
}

.home-services__control--delivery:checked ~ .tabs .tabs__item--delivery,
.home-services__control--warranty:checked ~ .tabs .tabs__item--warranty,
.home-services__control--credit:checked ~ .tabs .tabs__item--credit {
  background-color: black;
  transition: background-color 0.5s;
}

.home-services__control-s-delivery:checked ~ .tabs .tabs__button--delivery,
.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty,
.home-services__control--credit:checked ~ .tabs .tabs__button--credit {
  color: #f7e184;
}

.home-services__control--delivery:checked ~ .tabs .tabs__button--delivery {
  padding: 8px 20px;
}

.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty {
  padding: 8px 29px;
}

.home-services__control--credit:checked ~ .tabs .tabs__button--credit {
  padding: 8px 42px;
}

.home-services__control--delivery:checked ~ .tabs .tabs__button--delivery::before,
.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty::before,
.home-services__control--credit:checked ~ .tabs .tabs__button--credit::before {
  content: none;
}

.home-services__control--delivery:checked ~ .features .features__item--delivery,
.home-services__control--warranty:checked ~ .features .features__item--warranty,
.home-services__control--credit:checked ~ .features .features__item--credit {
  display: block;
}
