.logo {
  font-weight: 900;
  font-size: 48px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;

  &--gold {
    color: var(--color-gold);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--no-opacity {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
