.logo {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: var(--set-gilroy-font-family);
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.48px;

  &:hover {
    color: black;
    cursor: default;
  }
}

.logo[href]:hover,
.logo[href]:focus {
  cursor: pointer;
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}
