.map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map__iframe {
  position: relative;
  z-index: 2;
  border: none;
}
