
.nav-order {
  display: flex;
}

.nav-order__compare {
  margin-right: 42px;
}

.nav-order__cart {
  margin-right: 5px;
}

.nav-order__cart--footer {
  margin-right: 0;
}

.nav-order__link--compare,
.nav-order__link--cart {
  display: flex;
  align-items: center;
}

.nav-order__link--compare::before,
.nav-order__link--cart::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.nav-order__link--compare::before {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E");
}

.nav-order__link--cart::before {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E");
}

.nav-order__link--footer-compare,
.nav-order__link--footer-cart {
  color: rgba(255, 255, 255, 0.7);
}

.nav-order__link--footer-compare:hover,
.nav-order__link--footer-compare:focus,
.nav-order__link--footer-cart:hover,
.nav-order__link--footer-cart:focus {
  color: white;
}

.nav-order__link--footer-compare:active,
.nav-order__link--footer-cart:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav-order__link--footer-compare::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23ffc600' d='M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z'/%3E%3C/svg%3E%0A");
}

.nav-order__link--footer-cart::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23ffc600' d='M11.864 3.017a.429.429 0 0 0-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 0 0-.327.154.472.472 0 0 0-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 0 0-.108-.358z'/%3E%3Cpath fill='%23ffc600' d='M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z'/%3E%3C/svg%3E%0A");
}

.nav-order__link--compare:hover::before,
.nav-order__link--compare:focus::before,
.nav-order__link--cart:hover::before,
.nav-order__link--cart:focus::before {
  opacity: 0.6;
}

.nav-order__link--compare:active::before,
.nav-order__link--cart:active::before {
  opacity: 0.3;
}

.nav-order--footer {
  margin-bottom: 13px;
}

.nav-order__link--footer {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-order__link--footer:hover {
  color: white;
}

.nav-order__link--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}
