.product {
  position: relative;
  width: 360px;
  margin-bottom: 46px;
}

.product--new::before {
  content: "new";
  position: absolute;
  top: 28px;
  right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--set-gilroy-font-family);
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.product__link {
  display: flex;
  width: 260px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--set-gilroy-font-family);
  letter-spacing: 0.18px;
}

.product__price {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.product__links {
  position: absolute;
  top: 214px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.product:hover .product__links,
.product:focus-within .product__links {
  visibility: visible;
}

.product:hover .product__img {
  opacity: 0.7;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 23px;
}
