.social {
  position: relative;
  display: flex;

  &::before {
    content: "декоративный элемент";
    position: absolute;
    top: 15px;
    left: 0;
    width: 80px;
    height: 7px;
    font-size: 0;
    background-color: var(--color-gold);
  }
}

.social__list {
  display: flex;
  justify-content: flex-end;
  min-width: 170px;
  max-width: 640px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 2px;
  padding-left: 0;
  list-style: none;
}

.social__item {
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  width: 33px;
  height: 33px;
  font-size: 0;
  background-repeat: no-repeat;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--fb {
    background-image: url("../../img/fb.svg");
  }

  &--inst {
    background-image: url("../../img/instagram.svg");
  }

  &--twitter {
    background-image: url("../../img/twitter.svg");
  }
}

.social__link-academy {
  min-width: 28px;
  min-height: 36px;
  font-size: 0;
  background-image: url("../../img/logo-html.svg");
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
