.social {
  margin: 0 auto;
  transform: translateX(14px);
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 23px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &--facebook {
    background-image: url("../img/fb.svg");
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
  }

  &--twitter {
    background-image: url("../img/twitter.svg");
  }
}
