.user-menu {
  display: flex;
  justify-content: space-between;
}

.user-menu__list {
  display: flex;
  justify-content: flex-end;
  width: 520px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  list-style: none;
  font-family: var(--set-opensans-font-family);
}

.user-menu__item {
  position: relative;
  margin-right: 61px;

  &:last-child {
    margin-right: 0;
  }
}

.user-menu__link {
  font-size: 15px;
  line-height: 36px;
  color: white;
  text-decoration: none;
  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover + .user-menu__svg,
  &:focus + .user-menu__svg {
    opacity: 0.6;
  }

  &:active + .user-menu__svg {
    opacity: 0.3;
  }
}

.user-menu__svg {
  position: absolute;
  fill: var(--color-gold);

  &--compare {
    top: 14px;
    left: -19px;
  }

  &--entrance {
    top: 12px;
    left: -26px;
  }

  &--cart {
    top: 12px;
    left: -20px;
  }
}
