:root {
  --set-gilroy-font-family: "gilroy", "arial", sans-serif;
  --set-opensans-font-family: "opensans", "Arial", sans-serif;
  --bg-color-grey-footer: #464646;
  --color-gold: #ffc600;
  --bg-yellow-header: #f7e296;
}
